@import "tailwindcss";
:root {
  --primary: oklch(28.2% 0.091 267.935);
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 20px;
  min-height: 100svh;
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  box-sizing: border-box;
}

h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--bg);
}

h1 {
  font-family: var(--heading);
  color: var(--primary);
  font-size: 46px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@layer components {
  .sidebar {
    @apply w-[28%] h-screen  border-r border-black/15 px-6 flex flex-col gap-6 items-start;
    h3 {
      @apply text-xl font-medium tracking-tight text-(--text-h);
    }
  }
  .noentry {
    @apply pt-8 w-full flex flex-col items-center gap-4;
    img {
      @apply w-37.5 h-37.5;
    }
    p {
      @apply text-gray-500 text-sm font-light;
    }
  }
  .input-cont {
    @apply w-full flex flex-col gap-2 items-start;
  }
  .addentry {
    @apply pt-8 px-10 w-full flex flex-col gap-4 items-start;
    .btn-container {
      @apply w-[60%] flex flex-row justify-end gap-6;
    }
  }
  .modal-elmnt {
    @apply backdrop:bg-stone-900/80 px-6 py-4;
  }
  .selected-entry {
    @apply w-full px-10 pt-8 flex flex-col gap-4;
    .heading {
      @apply flex flex-row justify-between items-end;
    }
    h3 {
      @apply text-xl font-medium tracking-tight text-blue-950/50;
    }
  }
}
